@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.wrapper {
    width:90%;
    margin: auto;
    padding-top: 2em;
    img {
            width: 85vw;
            height:75vh;
            object-fit: cover;
            display: block;
            margin: auto;
        }
    
        h1 {
            font-size: 7vw;
            color: #5fa62d;
            position: absolute;
            z-index: 1;
            top: 35%;
            left: 15%;
            font-family: 'Dancing Script', cursive;
            font-weight: 100;
        }
        h2 {
            font-size: 6vw;
            color: #5fa62d;
            position: absolute;
            z-index: 1;
            top: 55%;
            left: 25%;
            font-family: 'Dancing Script', cursive;
            font-weight: 100;
        }
}
